

  <footer class="bg-dark text-center text-white">
    <div class="text-center p-3 text-muted" style="background-color: rgba(0, 0, 0, 0.2);">
      <strong class='text-muted'>© 2020 Demo Blog</strong> | Just another rails blog.
    </div>
  </footer>
  
