<% content_for :page_title, @post.title %>

<section>
    <div class="container">

        <div>
            <%= simple_format @post.content %>
        </div>

        <br><br>

        <%= link_to "Back", posts_path, class:'btn btn-dark' %>
        <%= link_to "Edit", edit_post_path, class:'btn btn-dark' %>
        
        <br><br>

        <%= button_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        
    </div>
</section>

<br><br>

<section>
    <div class="container">
        Comments
    </div>
</section>






